// Colors
.solv-grey-300 {
  color: #3C3C3C !important
}

.solv-grey-400 {
  color: #474747 !important
}

.solv-grey-500 {
  color: #C7C7C7 !important
}

.solv-grey-600 {
  color: #6B6B6B !important
}

.solv-grey-700 {
  color: #8C8C8C !important
}


.solv-grey-700 {
  color: #A9A4A4 !important
}

.solv-grey-800 {
  color: #8E8E8E !important
}

.solv-grey-900 {
  color: #3C3C3C !important
}

.solv-black {
  color: #000000 !important
}

.solv-blue-400 {
  color: #496D90 !important
}

.solv-light-green-100 {
  color: #0AFFA5
}

.solv-light-green-200 {
  color: #19E395
}

.solv-light-green-300 {
  color: #20D38E
}

.solv-light-green-400 {
  color: #2BB781
}

.solv-light-green-500 {
  color: #2EAF7D
}

.solv-light-green-600 {
  color: #359E75
}

.solv-light-green-700 {
  color: #359E75
}

.solv-light-green-800 {
  color: #3C8E6E
}

.solv-light-green-900 {
  color: #496E5F
}

.solv-green-300 {
  color: #2DAB31
}

.solv-green-500 {
  color: #18A337
}

.solv-green-600 {
  color: #419735
}

.solv-dark-green-400 {
  color: #042B1D
}

.solv-red-400 {
  color: #FC4141
}

.solv-br-grey-500 {
  border-color: #C7C7C7 !important
}

.solv-bg-blue-200 {
  background-color: #C4E2FF52 !important
}

.solv-bg-blue-100 {
  background-color: #D9EFFF !important
}
.solv-bg-blue-300 {
  background-color: #D5FFEF !important
}

.solv-bg-blue-400 {
  background-color: #496D90 !important
}

.solv-bg-light-green-100 {
  background-color: #0AFFA5 !important
}


//Sizing

.h-0-5-rem {
  height: 0.5rem !important
}

.w-1-5-rem {
  width: 1.5rem !important
}

.h-1-5-rem {
  height: 1.5rem !important
}

.min-w-20rem {
  min-width: 20rem !important;
}

.w-0-5-rem {
  width: 0.5rem !important
}
