//Sizing

.h-0-5-rem {
  height: 0.5rem !important
}

.w-1-5-rem {
  width: 1.5rem !important
}

.h-1-5-rem {
  height: 1.5rem !important
}

.min-w-20rem {
  min-width: 20rem !important;
}

.w-0-5-rem {
  width: 0.5rem !important
}
