// Colors
.solv-grey-300 {
  color: #3C3C3C !important
}

.solv-grey-600 {
  color: #6B6B6B !important
}

.solv-grey-700 {
  color: #8C8C8C !important
}

.solv-blue-400 {
  color: #496D90 !important
}

.solv-grey-700 {
  color: #A9A4A4 !important
}

.solv-grey-800 {
  color: #8E8E8E !important
}

.solv-grey-900 {
  color: #3C3C3C !important
}

.solv-black {
  color: #000000 !important
}

.solv-green-300 {
  color: #2DAB31
}

.solv-green-500 {
  color: #18A337
}

.solv-green-600 {
  color: #419735
}

.solv-red-400 {
  color: #FC4141
}

.solv-bg-blue-200 {
  background-color: #C4E2FF52 !important
}

.solv-bg-blue-400 {
  background-color: #496D90 !important
}



//Sizing

.h-0-5-rem {
  height: 0.5rem !important
}

.w-1-5-rem {
  width: 1.5rem !important
}

.h-1-5-rem {
  height: 1.5rem !important
}

.min-w-20rem {
  min-width: 20rem !important;
}

.w-0-5-rem {
  width: 0.5rem !important
}
