@font-face {
  font-family: "League Spartan";
  src: url("/fonts/static/LeagueSpartan-Extralight.ttf") format("truetype");
  font-weight: 200; /* Extra Light */
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("/fonts/static/LeagueSpartan-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("/fonts/static/LeagueSpartan-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("/fonts/static/LeagueSpartan-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("/fonts/static/LeagueSpartan-Semibold.ttf") format("truetype");
  font-weight: 600; /* Semi Bold */
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("/fonts/static/LeagueSpartan-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("/fonts/static/LeagueSpartan-Extrabold.ttf") format("truetype");
  font-weight: 800; /* Extra Bold */
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("/fonts/static/LeagueSpartan-Black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: normal;
}
