.p-accordion {
  .p-accordion-header {
    .p-accordion-header-link {
      padding: 1.5rem 0;
      border: none;
      color: $accordionHeaderTextColor;
      background: #fff;
      font-weight: 400;
      border-radius: 0;
      transition: $listItemTransition;
      flex-direction: row-reverse;
      justify-content: space-between;
      border-bottom: 1px solid #d4d6d9;

      .p-accordion-toggle-icon {
        margin-right: $inlineSpacing;
      }
    }

    &:not(.p-disabled) {
      .p-accordion-header-link {
        &:focus {
          outline: 0 none;
          outline-offset: 0;
          box-shadow: none;
        }
      }
    }

    &:not(.p-highlight):not(.p-disabled):hover {
      .p-accordion-header-link {
        background: $accordionHeaderHoverBg;
        border-color: $accordionHeaderHoverBorderColor;
        color: $accordionHeaderTextHoverColor;
      }
    }

    &:not(.p-disabled).p-highlight {
      .p-accordion-header-link {
        background: #fff;
        border-color: #d4d6d9;
        color: $accordionHeaderTextActiveColor;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:hover {
        .p-accordion-header-link {
          border-color: $accordionHeaderActiveHoverBorderColor;
          background: $accordionHeaderActiveHoverBg;
          color: $accordionHeaderTextActiveHoverColor;
        }
      }
    }
  }
  .p-accordion-tab-active{
    .p-accordion-header.no-border {
      .p-accordion-header-link {
        border-bottom: 0;
      }
    }
  }
  .accordion-container {
    .p-accordion-content {
      padding: 0.75rem;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border: 0;
      border-bottom: 1px solid #d4d6d9;
    }
  }
  .timeline-accordion {
    .p-accordion-header-link {
      padding: 0;
      border-bottom: none;
      color: #000
    }
  }

  .accordion-header-filter {
    .p-accordion-header-link {
      padding: 1.25rem 0;
      color: #000;
      font-weight: 500;

    }
    &:not(.p-highlight):not(.p-disabled):hover {
      .p-accordion-header-link {
        background: transparent;
        border-color: #C7C7C7;
        color: #000;
      }
    }

    &:not(.p-disabled).p-highlight {
      .p-accordion-header-link {
        background: #fff;
        border-color: #C7C7C7;
        color: #000;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: none;
      }

      &:hover {
        .p-accordion-header-link {
          border-color: #C7C7C7;
          background: transparent;
          color: #000;
        }
      }
    }
  }
  .accordion-content-filter {
    .p-accordion-content {
      padding: 0;
      padding-bottom: 1.25rem;
      border-left: 0;
        border-right: 0;
    }
  }
}


